{
    "env": {
        "development": {
            "presets": [
                ["es2015", {"loose": true, "modules": false}], "stage-0"
            ]
        }
    },
    /* Plugins to be added here ! */
    "plugins": ["babel-plugin-syntax-jsx", ["babel-plugin-inferno", {"imports": true}]]
}