### OSX ###
.DS_Store
.AppleDouble
.LSOverride
Icon

### CONFIGURATION FILES ###
config.json

### AMAZON WEB SERVICES ###
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
